<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="h">
    <p>VALENDO: {{ roundValue }}</p>
    <div>
      <ion-button (click)="changeRoundValue(1)" color="dark">1</ion-button>
      <ion-button (click)="changeRoundValue(3)" color="dark">3</ion-button>
      <ion-button (click)="changeRoundValue(6)" color="dark">6</ion-button>
      <ion-button (click)="changeRoundValue(9)" color="dark">9</ion-button>
      <ion-button (click)="changeRoundValue(12)" color="dark">12</ion-button>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p>TIME 1</p>
        <div>
          <ion-button (click)="addPointTo(1)" color="dark">+</ion-button>
          <p>{{ points.teamOne }}</p>
          <ion-button (click)="removePointFrom(1)" color="dark">-</ion-button>
        </div>
      </ion-col>

      <ion-col>
        <p>TIME 2</p>
        <div>
          <ion-button (click)="addPointTo(2)" color="dark">+</ion-button>
          <p>{{ points.teamTwo }}</p>
          <ion-button (click)="removePointFrom(2)" color="dark">-</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>PARTIDAS</p>
    <p>TIME 1: {{ wins.teamOne }}</p>
    <p>TIME 2: {{ wins.teamTwo }}</p>
    <ion-button (click)="clear()" color="danger" size="full">LIMPAR TUDO</ion-button>
  </ion-toolbar>
</ion-footer>
