.container-coin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-flow: column;
}

img {
  height: 50%;
  border-radius: 50%;
  box-shadow: 4px 4px 15px 0px rgba(114, 114, 114, 0.75);
  -webkit-box-shadow: 4px 4px 15px 0px rgba(114, 114, 114, 0.75);
  -moz-box-shadow: 4px 4px 15px 0px rgba(114, 114, 114, 0.75);
}

.btn {
  cursor: pointer;
}
